<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <!-- Kule lazy -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/css/kule-lazy.min.css" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/css/kule-base.min.css" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/css/kule-grid.min.css" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/css/kule-animates.min.css" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/css/kule-theme-default.min.css" type="text/css" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160612/js/kule.urbrowser.min.js"></script>

        <!-- Socket io -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
        <!-- Socket io stream -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io-stream/0.9.0/socket.io-stream.min.js"></script>

        <!-- iconfont -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- browserMessage -->
        <script type="text/javascript" src="javascripts/browserMessage.js"></script>

        <script src="javascripts/folder_tree.js"></script>

        <script src="javascripts/copy_tooltip.js"></script>

        <link rel="stylesheet" href="stylesheets/s3_uploadfile.css" type="text/css" />

        <script>

            var socket = io.connect(window.location.protocol+'//'+window.location.hostname+':'+{{ socketPort }}+'/server');
            var socket2= null;

            var bucketName='';

            socket.on('online', function(data){
                document.getElementById('online').innerHTML = data.online;
            });

            socket.on('disconnect', function(){
                document.getElementById('status').innerHTML = '';
                document.getElementById('status').innerHTML = 'Disconnect Server !!';
                document.getElementById('modal').style.display = 'block';
                document.getElementById('modal_bk').style.display = 'block';
            });

            socket.on('connect_error', function(){
                document.getElementById('status').innerHTML = '';
                document.getElementById('status').innerHTML = 'Reconnect Server ...';
                document.getElementById('modal').style.display = 'block';
                document.getElementById('modal_bk').style.display = 'block';
            });

            socket.on('connect', function(){
                document.getElementById('status').innerHTML = '';
                document.getElementById('modal').style.display = 'none';
                document.getElementById('modal_bk').style.display = 'none';
            });

            socket.on('err', function(err){
                browserMessage('錯誤', err.errCode);
            });

            socket.on('get_buckets_list', function(data){

                let dom = document.getElementById('bucketName');

                if(dom.children.length>1){
                    dom.removeChild(dom.children[1]);
                }

                let menuUL = document.createElement('ul');
                    menuUL.className = 'drop-box menu';

                for(var key in data.get_buckets_list){

                    let menuLI = document.createElement('li');
                        menuLI.className = 'menu-item';

                    // let icon = document.createElement('i');
                    //     icon.className = 'fa fa-database';

                    let menuA = document.createElement('a');
                        menuA.className = 'menu-link';
                        menuA.innerHTML = data.get_buckets_list[key];
                        menuA.onclick = (e)=>{
                            bucketName = e.target.innerHTML;
                            socket.emit('setBucketName', { setBucketName:bucketName });
                            if(socket2){
                                socket2.disconnect();
                            }
                            socket2 = io.connect(window.location.protocol+'//'+window.location.hostname+':'+{{ socketPort }}+'/'+bucketName);

                            socket2.on('get_list', function(data){

                                var file_tree = new main_GT(document.getElementById('file_tree'), bucketName, 'file_tree');

                                for(var key in data.get_list){

                                    var tmp = data.get_list[key].split('/');

                                    file_tree.addFolder(tmp);

                                }

                            });

                            socket2.on('even_file_upload',function(count){

                                var stream = ss.createStream();

                                var count = count.fileCount;

                                ss(socket2).emit('upload_file', stream);

                                var blobStream = ss.createBlobReadStream(m_file[count]);
                                var size = 0;

                                blobStream.on('data', function(chunk) {

                                    size += chunk.length;

                                    var file_stream = Math.floor(size / m_file[count].size * 100);

                                    document.getElementById(m_file[count].name+date+count).style.width = file_stream + '%';

                                    if(file_stream > 15){
                                        document.getElementById(m_file[count].name+date+count).innerHTML = file_stream + '%';
                                    }else{
                                        document.getElementById(m_file[count].name+date+count).innerHTML = '';
                                    }

                                    //console.log(file_stream);
                                });

                                blobStream.on('end', function() {
                                    console.log('file upload!!');
                                    unlock = true;
                                });

                                blobStream.pipe(stream);
                                //console.log(socket,stream,file.size);
                            });
                        };

                    // menuLI.appendChild(icon);
                    menuLI.appendChild(menuA);
                    menuUL.appendChild(menuLI);
                }

                dom.appendChild(menuUL);
            });

            socket.on('get_list', function(data){

                var file_tree = new main_GT(document.getElementById('file_tree'), bucketName, 'file_tree');

                for(var key in data.get_list){

                    var tmp = data.get_list[key].split('/');

                    file_tree.addFolder(tmp);

                }

            });

            function add_bucket() {

                var add_bucket_name = document.getElementById('addBucket').value.replace(/[\s\/]/g, '');

                if(add_bucket_name){
                    if (confirm("是否新增桶："+ add_bucket_name) == true) {
                        socket.emit('add_bucket', { add_bucket : add_bucket_name });
                    }
                }else{
                    browserMessage('新增桶錯誤', '空！！');
                }
            }

            function get_file_info(file_path){

                socket2.emit('get_file_info', { get_file_info:file_path });

                socket2.once('even_file_info',function(msg){

                    var file_info_html='' , file_type_demo='';

                    var file_name = msg.file_name.split('/').pop();
                    var file_type = file_name.split('.').pop();

                    if(!file_name){
                        file_info_html +='<li>Type : Folder</li>';
                    }else{
                        file_info_html +='<li>Name : '+file_name+'</li>';
                        file_info_html +='<li>Type : '+file_type+'</li>';
                    }

                    file_info_html +='<li>Size : '+msg.file_size/1024+'KB</li>';
                    file_info_html +='<li>LastModified : '+msg.file_LastModified+'</li>';

                    if(file_name){
                        file_info_html +='<li>public_s3 : <span>'+msg.file_public_s3+'</span></li>';
                        file_info_html +='<li>public_cdn : <span>'+msg.file_public_cdn+'</span></li>';
                    }

                    if(file_type ==='mp3'){
                        file_type_demo += '<audio controls>';
                        file_type_demo += '    <source src="'+msg.file_public_cdn+'" type="audio/mpeg">';
                        file_type_demo += '</audio>';

                    }else if(file_type ==='png'){

                        file_type_demo = '<img src="'+msg.file_public_cdn+'">';

                    }

                    document.getElementById('file_info').innerHTML = file_info_html;
                    document.getElementById('file_demo').innerHTML = file_type_demo;

                    // if(file_name){
                    //     var copy_tooltip = new copy_clipboard(document.getElementById('motivatebox'));
                    //     copy_tooltip.addEL();
                    // }

                });
            }

            function add_folder(){

                var file_path = document.getElementById('file_path').innerHTML;
                var folder_name = document.getElementById('folder_name').value;

                var file = file_path.split('/').pop();

                folder_name = folder_name.replace(/[\s\/]/g, '');

                if(folder_name){

                    if(file.indexOf('.') == -1){
                        socket2.emit('add_folder', { add_folder : (file_path+folder_name+'/') });
                        document.getElementById('folder_name').value = '';
                    }else{
                        browserMessage('新增資料夾錯誤', '路徑錯誤！！');
                    }
                }else{
                    browserMessage('新增資料夾錯誤', '空！！');
                }

            }

            function del_file(){

                var file_path = document.getElementById('file_path').innerHTML;

                if (confirm("是否刪除? path=./"+file_path) == true) {

                    socket2.emit('del_file', { del_file:file_path });

                }

            }

            var m_file=[], m_path=[], file_data=[], m_folder=[], unlock=true, date;

            function dragoverHandler(e){
                e.preventDefault() ; //防止瀏覽器執行預設動作
            }
            
            function traverseFileTree(item, path) {
                var file_path = document.getElementById('file_path').innerHTML;
                path = path || "";
                if (item.isFile) {
                    // Get file
                    item.file(function(file) {
                        m_file.push(file);
                        m_path.push(file_path+path);
                        // add_progress(file_path+path, m_file[countFile], countFile);
                    });
                } else if (item.isDirectory) {
                    // Get folder contents
                    var dirReader = item.createReader();
                    dirReader.readEntries(function(entries) {
                        for (var i=0; i<entries.length; i++) {
                            if(m_folder.indexOf(file_path+path+item.name+'/')<0)
                                m_folder.push(file_path+path+item.name+'/');
                            // socket2.emit('add_folder', { add_folder : (file_path+path+item.name+'/') });
                            traverseFileTree(entries[i], path+item.name+"/");
                        }
                    });
                }
            }

            function dropHandler(evt) {//evt 為 DragEvent 物件
                evt.preventDefault();

                if(unlock){

                    unlock = false;

                    if(m_file){
                        m_file = [];
                    }

                    date = new Date().getTime();
                    var items = evt.dataTransfer.items;
                    
                    for (var i=0; i<items.length; i++) {
                        // webkitGetAsEntry is where the magic happens
                        var item = items[i].webkitGetAsEntry();
                        if (item) {
                            traverseFileTree(item);
                        }
                    }

                }else{
                    browserMessage('警告', '您還有檔案未上傳！！');
                }

            }
            window.onload = function (){
                document.getElementById('file').addEventListener("change", function(){

                    if(unlock){
                        unlock = false;
                        
                        if(m_file){
                            m_file = [];
                        }

                        date = new Date().getTime();

                        m_file = document.getElementById('file').files;
                        
                        for(var i=0; i<m_file.length; i++){
                            m_path.push(document.getElementById('file_path').innerHTML);                        
                        }
                        
                        var file = document.getElementById('file_path').innerHTML.split('/').pop();

                        if(file.indexOf('.') == -1){

                            add_progress(m_file, m_path);

                        }else{
                            browserMessage('上傳錯誤', '路徑錯誤！！');
                        }

                    }else{
                        browserMessage('上傳', '上傳中！！');
                    }

                });
            }

            function uploadtest(){
                console.log(m_file, m_folder);
                
                for (let index = 0; index < m_folder.length; index++) {
                    socket2.emit('add_folder', { add_folder : (m_folder[index]) });
                }
                
                setTimeout(function(){}, 5000);

                add_progress(m_file, m_path);
            }

            function add_progress(m_file, m_path){

                var html_pg = '';

                for(var i=0; i<m_file.length; i++){


                    html_pg += '<div class="col-12">';
                    html_pg += '    <span>File : '+m_path[i] + m_file[i].name+'</span>';
                    html_pg += '    <span class="pull-right">Size : '+(m_file[i].size/1024)+'KB</span>';

                    html_pg += '    <div class="progress">';
                    html_pg += '        <div class="progress-bar progress-bar-striped color-primary active" id="'+m_file[i].name+date+i+'" style="width: 0%;"></div>';
                    html_pg += '    </div>';
                    html_pg += '</div>';

                    file_data[i] = m_file[i].name;
                }

                document.getElementById("pg").innerHTML += html_pg;

                var context_sh = document.getElementById('pg').scrollHeight;//取得高度

                    document.getElementById('pg').scrollTop = context_sh; //至底

                upload_file(m_path);
            }

            function upload_file(m_path){

                if(m_file.length){

                    socket2.emit('upload_file_data', { filedata: file_data , file_path: m_path });

                    socket2.once('even_file_end',function(){
                        document.getElementById('file').value='';
                    });

                }else{
                    browserMessage('上傳錯誤', '選擇檔案！！');
                }

            }

        </script>

    </head>

    <body style="background-color: rgb(150,150,150);">

       <div class="columns-12">

            <div class="col-12">
                <h1>{{ head }}</h1>
                <h2>Online : <span id='online'></span></h2>
            </div>

            <div class="col-3" style="height:80vh;overflow-y:auto;">
                <div class="columns-12">

                    <div class="col-6">
                        <div class="input-grp">
                            <input type="text" class="ctrl-input" id="addBucket" />
                            <span class="input-grp-btn">
                                <a class="btn" onclick="add_bucket();" >建立桶</a>
                            </span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="drop drop-hover" id="bucketName">
                            <a class="btn">Bucket Name <span class="caret"></span></a>
                        </div>
                    </div>

                </div>

                <div id="file_tree" style="padding-top:10px;"></div>
            </div>

            <div class="col-6">
                <div class="columns-12">

                    <div class="col-6">
                        <a class="btn" onclick="del_file();">刪除檔案</a>
                        <!-- <a class="btn" onclick="del_cdn_cache();">清除CDN快取</a> -->
                    </div>

                    <div class="col-6">
                        <div class="input-grp">
                            <input type="text" class="ctrl-input" id="folder_name" />
                            <span class="input-grp-btn">
                                <a class="btn" onclick="add_folder();">建立資料夾</a>
                            </span>
                        </div>
                    </div>

                    <div class="col-12">
                        <ul class="kui-list" id="file_info"></ul>
                        <div id="file_demo"></div>
                    </div>

                </div>
            </div>

            <div class="col-3" style="position:fixed;right:0px;top: 40px;">
                <span id="file_path" style="display:none"></span>
                <ul class="crumb">
                    <li class="crumb-text">您目前的位置：</li>
                    <span id="path"></span>
                </ul>

                <label for="file" class="ctrl-upload flex-media"  ondragover="dragoverHandler(event)" ondrop="dropHandler(event)" style="height:10vh;">
                    <input type="file" id="file"  multiple/>
                    <span class="ctrl-upload-caption">Upload File or Drop Folder</span>
                </label>

                <button onclick="uploadtest();">全部上傳</button>

                <label>上傳佇列 : </label>
                <div class="columns-12" id="pg" style="height:40vh;overflow-y:auto;">

                </div>
<!--                <a class="btn color-focus focus" onclick="upload_file();">Upload</a>-->
            </div>

        </div>

        <div class="modal" id="modal">
            <div class="modal-box">
                <p id="status"></p>
            </div>
        </div>
        <div class="modal-overlay" id="modal_bk"></div>

    </body>
</html>
