.progress {
    margin-bottom: 10px;
}

.L
{
    cursor: pointer;
}

#file_tree li
{
    list-style-position: inside;
    list-style-image: url('/images/folder.png');
}
#file_tree .file
{
    list-style-position: inside;
    list-style-image: url('/images/file.png');
}
#file_tree ul
{

    /*margin-left : 5px; */
    list-style-type: none;
    padding: 5px 5px 5px 20px;
}
